
DATABASE_URL="postgresql://neondb_owner:npg_7sAWdTo6cjpF@ep-rough-paper-an8epzvm.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
SESSION_SECRET="4322fb2deb067d0b52b9930d8a83cdfe1f023bed6de4585a3b87cd8a45bd59ed"
EMPLOYEE_ACCESS_CODE="3911"
ADMIN_USERNAME="whoisotp@oceanluxe.org"
ADMIN_PASSWORD="$01011Stackk10M"
SENTRY_DSN=""
PORT="3000"

# Telnyx AI
TELNYX_API_KEY=KEY019FB0AA881CB723E3D634E8E87724BD
TELNYX_CONNECTION_ID=3013553726146217796
TELNYX_MESSAGING_PROFILE_ID=40019fa5-7405-4b6a-b7ce-c220cfaa145e
TELNYX_PUBLIC_KEY=z/SOv0pgF4GkFKGrhkhXCUmYgdd24rmSRWsnLIzr0UY=
TELNYX_WEBHOOK_SIGNING_TOLERANCE_SECONDS=300
TELNYX_DEFAULT_FROM_NUMBER="+13212940738"
DIALER_NUMBERS_JSON='["+13212940738"]'
# Discord Webhook
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/1531411487896109128/I9KVSDG9quUKssu05WQXigCT74PEpBh5W15Xy36BBOeQ5pdA0kwUVvseIQ5zzHXra5VA"
DISCORD_WEBHOOK_CHANNEL_ID="your-channel-id"
DISCORD_WEBHOOK_NAME="OceanLuxe Alerts"
DISCORD_WEBHOOK_AVATAR_URL=""
